<div style="
  width:100%;
  height: 15%;
  background-color: #312C41;">
  <h1 style="text-align: center;
  color: white">King Pong</h1>
  <h3 style="text-align: center;
  color: white;">Vous avez reçu une invitation de <h2 style="text-align: center;
  color: white;"> {{author}}</h2></h3>

</div>

<div>
  <p style="text-align: center;"> Bonjour <b style="font-size:1.8em;">{{invite}}</b> </p>
  <p style="text-align: center;">tu est invité à un <em>challenge </em></p>
  <p style="text-align: center;
  border-top: 2px solid silver;"></p>
  <p style="text-align: center;">L'activité : {{activity}}</p>
  <p style="text-align: center;
  border-top: 2px solid silver;"></p>
  <p style="text-align: center;">La date : {{date}}</p>
  <p style="text-align: center;
  border-top: 2px solid silver;"></p>
  <p style="text-align: center;">L'heure : {{time}}</p>
  <p style="text-align: center;
  border-top: 2px solid silver;"></p>
  <p style="text-align: center;">Pour une durée de : {{duration}}</p>
  <p style="text-align: center;
  border-top: 2px solid silver;"></p>
  <p style="text-align: center;">Le lieu : {{place}}</p>
  <p style="text-align: center;
  border-top: 2px solid silver;"></p>

  <a style="
  text-align: center;
  font-size: 1.8em;
  color: white;
  text-decoration: none;" href='https://dry-plains-87997.herokuapp.com/#!/user/invitations/' + {{id}}>
  <div style="
  padding-top:6px;
  margin-top: 10%;
  margin-bottom: 50px;
  margin-left:5%;
  background-color: #4db6ac ;
  width: 90%;
  height: 26px;
  border-radius: 5px;">

  Voir le défi
  </div>
</a>
</div>
