<div style="
  width:100%;
  height: 15%;
  background-color: #312C41;">
  <h1 style="text-align: center;
  color: white">King Pong</h1>
  <h3 style="text-align: center;
  color: white;">Vous avez reçu une invitation de <h2 style="text-align: center;
  color: white;"> {{author}}</h2></h3>

</div>

<div>
  <p style="text-align: center;"> Bonjour <b>{{invite}}</b> </p>
  <p style="text-align: center;">tu est invité à un <em>challenge </em></p>
  <p style="text-align: center;
  border-top: 2px solid silver;"></p>
  <p style="text-align: center;">L'activité sera: {{activity}}</p>
  <p style="text-align: center;
  border-top: 2px solid silver;"></p>
  <p style="text-align: center;">La date : {{date}}</p>
  <p style="text-align: center;
  border-top: 2px solid silver;"></p>
  <p style="text-align: center;">L'heure: {{time}}</p>
  <p style="text-align: center;
  border-top: 2px solid silver;"></p>
  <p style="text-align: center;">Pour une durée de : {{duration}}</p>
  <p style="text-align: center;
  border-top: 2px solid silver;"></p>
  <p style="text-align: center;">Le lieu : {{place}}</p>
  <p style="text-align: center;
  border-top: 2px solid silver;"></p>

  <div style="position: relative;
  margin-top: 30%;
  margin-left: 85%;
  background-color: #00bcd4;
  width: 70px;
  height: 70px;
  border-radius: 70px;"><a style="position: absolute;
  top: 17px;
  left: 8px;
  font-size: 2.5em;
  font-weight: bold;
  color: white;
  text-decoration: none;" href='kingPong/' + {{id}}>
  GO
</a></div>
</div>
